{
  "passPerPreset": true,
  "comments": false,
  "env": {
    "test": {
      "plugins": [ "istanbul" ]
    }
  },
  "presets": [
    { "plugins": [
      "transform-runtime",
      "transform-export-extensions"
    ] },
    {
      "passPerPreset": false,
      "presets": [ "latest" ]
    }
  ]
}
