{
  "presets": [
    "env",
    "stage-0"
  ],
  "plugins": [
    "add-module-exports",
    "transform-export-extensions",
    "transform-runtime"
  ],
  "env": {
    "production": {
      "presets": [ "babili" ]
    },
    "test": {
      "plugins": [ "istanbul" ]
    }
  },
  "ignore": [
    "node_modules",
    "dist",
    "coverage",
    ".nyc_output",
    ".git",
    ".nycrc",
    "test"
  ]
}
